.header{
  padding-left:50px;
  height:440px;
  background-color: hsl(243, 49%, 30%);
  background-color: 'very dark Blue';
}
.logo{
  margin:30px 0;
}
.links{
  margin:30px;
  float:right;
}

.image{
  height:340px;
   position:absolute;
  right:0;
}
a{
  text-decoration: none;
  color: #ffffff;
}

.butn {
  background: #2bb86a;
  background-image: -webkit-linear-gradient(top, #2bb86a, #2bb86a);
  background-image: -moz-linear-gradient(top, #2bb86a, #2bb86a);
  background-image: -ms-linear-gradient(top, #2bb86a, #2bb86a);
  background-image: -o-linear-gradient(top, #2bb86a, #2bb86a);
  background-image: linear-gradient(to bottom, #2bb86a, #2bb86a);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius:5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.textonimage{

  color:white;
  position:absolute;
  left:50px;
  top:180px;

}
.head{
  text-align: center;
  color:hsl(243, 74%, 30%);
}
h2{

  text-align:left;
  font-family: 'Raleway', sans-serif;
  font-weight:600;
}
h4{
  font-family: 'Raleway', sans-serif;
  font-weight:600;
  font-size:20px;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-weight:200;
  font-size:15px;
}


.buttn {
  margin-top:20px;
  margin-left:30px;
  position: absolute;
  top:280px;
  background: #2bb86a;
  background-image: -webkit-linear-gradient(top, #2bb86a, #2bb86a);
  background-image: -moz-linear-gradient(top, #2bb86a, #2bb86a);
  background-image: -ms-linear-gradient(top, #2bb86a, #2bb86a);
  background-image: -o-linear-gradient(top, #2bb86a, #2bb86a);
  background-image: linear-gradient(to bottom, #2bb86a, #2bb86a);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius:5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.buttn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.images{
  position:relative;

  left:40px;
  margin-right:20px;
  float:left;
  width:400px;
   height:500px;
}
.section{
  width:800px;
  height:500px;
  position:absolute;
  left:400px;
  margin-top:0;
  margin-left:100px;
}

.largediv{
  height:500px;
  width:1284px;
  position: absolute;
  left:0;
}
.div1{
  height: 230px;
  width: 300px;
  position: relative;
  top:0;
}
.div3{
  height: 230px;
  width: 300px;
 position:absolute;
 bottom: 200px;
 top:0;
 left:400px;
 margin-top:0;
}
.div4{
  height: 230px;
  width: 300px;
 position:absolute;
 bottom: 200px;
 top:250px;
 left:400px;
}



.button {
  position: absolute;
  left:800px;
  right:320px;
  background: #2bb86a;
  background-image: -webkit-linear-gradient(top, #2bb86a, #2bb86a);
  background-image: -moz-linear-gradient(top, #2bb86a, #2bb86a);
  background-image: -ms-linear-gradient(top, #2bb86a, #2bb86a);
  background-image: -o-linear-gradient(top, #2bb86a, #2bb86a);
  background-image: linear-gradient(to bottom, #2bb86a, #2bb86a);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius:5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.bottomDiv{
 text-align: center;
  position: relative;
  top:550px;
}
.ip{
  width:300px;
  height:40px;
  border-width:0;
  text-align: center;
}
.footer{
  width:1284px;
  height:200px;

  background-color: hsl(243, 49%, 30%);
  background-color: 'very dark Blue';
  position:absolute;
  top:1300px;
}
.btmlogo{
  margin-left:0;
}
.division1{
  line-height:2;
  width:230px;
  height:200px;
  position: absolute;
  top:50px;
  left:50px;
}
span{
  display:block;
}
.icons{
  margin-right:10px;
}
hr{
  border-left: 6px;
  border-color:#ffffff;
  height:150px;
  position: absolute;
  left:280px;
  margin:25px;
}
.tb{

  position:absolute;
  left:350px;
}
#hrow{
  border-left: 6px;
  border-color:#ffffff;
  height:150px;
  position: absolute;
  left:750px;
  margin:25px;
}
.division3 p{
  color:#ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight:200;
  font-size:15px;
}
.division3{
  width:350px;
  height:150px;
  position: absolute;
  left:860px;
  top:20px;
}
.buttons {
  position: absolute;
  left:230px;
  top:80px;
  background: #2bb86a;
  background-image: -webkit-linear-gradient(top, #2bb86a, #2bb86a);
  background-image: -moz-linear-gradient(top, #2bb86a, #2bb86a);
  background-image: -ms-linear-gradient(top, #2bb86a, #2bb86a);
  background-image: -o-linear-gradient(top, #2bb86a, #2bb86a);
  background-image: linear-gradient(to bottom, #2bb86a, #2bb86a);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius:5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.buttons:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.msg{
  height:38px;
  width:200px;
  position: absolute;
  left:10px;
  top:80px;
}
